.partie-texte {
 font-size: 1.25rem;

 a {
  text-decoration: underline;
 }


 margin-bottom: 30px;
}

.titre-projet {
 text-transform: uppercase;
}

.photo {
 img {
  max-width: 100%;
  height: auto;
 }
}